<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3></h3>
                <h1>Software Engineer</h1>
                <h5>North American University</h5>
                <h5>Future Googler</h5>				
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg img-rounded">
                <img src="{{ "/assets/img/me.jpg" | prepend: site.baseurl }}" class="img-rounded">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->